<div class="ldc-main-wrapper">
  <div class="ldc-main-container">
    <header class="ldc-view-header">
      <div class="ldc-segmented-control">
        <input
          type="radio"
          id="trenutni"
          name="tjedan"
          [checked]="tjedanAktivan === 'trenutni'"
          (change)="changeWeek('trenutni')"
        />
        <label for="trenutni">Aktualni tjedan</label>

        <input
          type="radio"
          id="naredni"
          name="tjedan"
          [checked]="tjedanAktivan === 'naredni'"
          (change)="changeWeek('naredni')"
          [disabled]="!naredniTjedanDostupan"
        />
        <label
          for="naredni"
          [ngClass]="{ 'is-disabled': !naredniTjedanDostupan }"
        >
          Naredni tjedan
          <span class="lock-icon" *ngIf="!naredniTjedanDostupan"></span>
        </label>

        <div class="selection-slider"></div>
      </div>

      <div class="ldc-week-info" *ngIf="prikazaniTjedan">
        <span class="week-label"
          >Raspored vožnji za {{ prikazaniTjedan }}. tjedan
          {{ prikazanaGodina }}.</span
        >
        <button class="share-btn" (click)="shareSchedule()">
          <lucide-icon [img]="ShareIcon" [size]="20"></lucide-icon>
        </button>
      </div>
    </header>

    <main class="ldc-timeline-list">
      <ng-container *ngFor="let dan of rasporedZaPrikaz">
        <ng-container *ngIf="!dan.isOff && dan.duties.length">
          <div class="ldc-item-wrapper">
            <app-on-duty-card
              [dan]="dan.dan"
              [datum]="dan.datum"
              [duties]="dan.duties"
              [id]="isToday(dan.datum) ? 'danasnja-kartica' : ''"
            ></app-on-duty-card>
          </div>
        </ng-container>

        <div class="ldc-item-wrapper" *ngIf="dan.isOff">
          <app-off-duty-card
            [dan]="dan.dan"
            [datum]="dan.datum"
            [oznaka]="dan.duties[0]?.odsustvo"
          ></app-off-duty-card>
        </div>
      </ng-container>
    </main>
  </div>
</div>
