.form-panel {
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  margin-bottom: 24px;
}

.raspored-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.kartica-wrapper {
  margin-bottom: 12px;
  justify-content: center;
}

.jump-to-today {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
