.nav-btn {
  padding: 8px 18px;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: white;
  color: #0d6efd;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100%;
  max-width: 220px;
}

@media (min-width: 992px) {
  .nav-btn {
    width: auto;
  }
}

.nav-btn:hover {
  background-color: #e7f1ff;
  border-color: #0d6efd;
}

.nav-btn.active {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.nav-btn.danger-btn {
  color: #dc3545;
  border-color: #dc3545;
}

.nav-btn.danger-btn:hover {
  background-color: #ffe5e8;
}
.driver-name {
  font-size: 0.9rem;
  color: #555;
  white-space: nowrap;
}

.nav-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; // opcionalno, dodatna zaštita
  background-color: #e0e0e0; // siva
  color: #999;
}
