<nav class="ldc-navbar">
  <div class="ldc-nav-content">
    <a class="ldc-brand" href="dashboard">
      <img src="assets/blokich_logo.png" alt="Blokich" />
    </a>

    <button
      class="ldc-menu-trigger"
      [class.is-active]="isMenuOpen"
      type="button"
      (click)="toggleMenu()"
      aria-label="Izbornik"
    >
      <div class="menu-icon"></div>
    </button>

    <div class="ldc-nav-collapse" [class.show]="isMenuOpen">
      <div *ngIf="role === 'vozac'" class="ldc-nav-inner">
        <div class="ldc-nav-links">
          <button
            class="ldc-nav-item"
            [class.active]="view === 'raspored'"
            (click)="onViewChange('raspored')"
          >
            Raspored vožnji
          </button>
          <button
            class="ldc-nav-item"
            [disabled]="!isDrivingToday"
            [class.active]="view === 'smjena'"
            (click)="onViewChange('smjena')"
          >
            Današnja smjena
          </button>
          <button
            class="ldc-nav-item"
            [class.active]="view === 'vozaci'"
            (click)="onViewChange('vozaci')"
          >
            Vozači linije
          </button>
          <button
            class="ldc-nav-item"
            [class.active]="view === 'sluzba'"
            (click)="onViewChange('sluzba')"
          >
            Vozači službe
          </button>
        </div>

        <div class="ldc-user-section">
          <div class="ldc-user-info">
            <span class="user-main">{{ sluzbeniBroj }} • {{ imePrezime }}</span>

            <span class="user-sub" *ngIf="kontaktBroj || kontaktBrojInfo">
              <ng-container *ngIf="kontaktBroj">
                {{ kontaktBroj }}
              </ng-container>

              <ng-container *ngIf="kontaktBroj && kontaktBrojInfo">
                ili
              </ng-container>

              <ng-container *ngIf="kontaktBrojInfo">
                {{ kontaktBrojInfo }}
              </ng-container>
            </span>
          </div>
          <button class="ldc-logout-btn" (click)="logout()">Odjava</button>
        </div>
      </div>

      <div *ngIf="role === 'admin'" class="ldc-nav-inner justify-content-end">
        <div class="ldc-user-section">
          <span class="user-main" style="margin-right: 10px"
            >Administrator</span
          >
          <button class="ldc-logout-btn" (click)="logout()">Odjava</button>
        </div>
      </div>
    </div>
  </div>
</nav>
