<div class="container mt-4">
  <div class="alert alert-warning" role="alert">
    <strong>Napomena:</strong> Poželjno je prilikom unosa novog disponenta
    najprije ubaciti <strong>novu službu!</strong> Ispod se nalazi naziv zadnje
    službe koja je ubačena tako da možete provjeriti poklapa li se naziv te
    službe s onom iz ZETa.
  </div>

  <div class="alert alert-primary" role="alert">
    <strong>
      Tijekom uploadanja nemojte zatvarati ili osvježavati stranicu. Sačekajte
      potvrdu o uspješnom završetku uploada.</strong
    >
  </div>
  <h3 class="mb-4">Panel za upload podataka</h3>

  <app-upload-sluzba></app-upload-sluzba>

  <!-- <hr class="my-5" /> -->

  <app-upload-disponent></app-upload-disponent>

  <!-- <hr class="my-5" /> -->

  <app-upload-godisnji></app-upload-godisnji>
</div>
